<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      <script src="assets/js/swapContent.js"></script>
      {% include header.html %} {% include bio.html %}
      <div class="blog-links">
        <a id="post-link" class="link" href='#' onclick="setContent(true)">Posts</a>
        <a id="project-link" class="link" href='#' onclick="setContent(false)">Projects</a>
      </div>
      <section class="articles">
        <h1 class="articles-title">Posts</h1>
        {% for post in site.posts %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <small class="date">{{post.date | date_to_string}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
